* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
.w3-bar-block .w3-bar-item {
    padding: 16px
}
ul {
    padding-left: 100px;
    margin: 0px;
}

.paragraph {
    font-size: 20px;
}



body {
    margin: 0;
    padding: 0;
    background-image: url('bckgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bckgrnd{
}
h1 {
    padding-top: 10px;
    padding-left: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-size: 50px;
    font-weight: bold;
}

#img {
    border: 5px solid #fff;
    float: left;
    margin-left: 30px;
}

.navbar {
    font-family: 'pupcat';
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(2, 2, 2, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}
.navbar_slct {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgb(114, 107, 116);
}
.navbar {
    text-decoration: none;
}

.socmed {
    text-align: center;
}